body {
    background-color: black;
    font-family: Verdana, sans-serif;
}

header{
align-items: center;
justify-content: center;
text-align: center;
}

.intro {
    font-weight: normal;
    color: white;
    font-size: 50px;
}

.intro-link{
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

.container{
padding-top: 15px;
}

.landing-video{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gray{
font-size: 21px;
color: gray;
text-align: center;
}

.landing-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.link{
    align-items: center;
justify-content: center;
text-align: center;
}

h3{
    color: white;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}